<header>
	<div class="container">
		<div class="navbar-brand">
			<f:cObject typoscriptObjectPath="lib.logo"/>
		</div>
	</div>
	<div class="navigation">
		<div class="container">
			<div class="navbar navbar-default navbar-static-top">
				<div class="navbar-header">
					<a class="navbar-toggle" data-toggle="collapse" data-target="#navigation-collapse">
						<i class="fa fa-list-ul"></i>
					</a>
				</div>
				<div class="navbar-collapse collapse" id="navigation-collapse">
					<ul class="nav navbar-nav">
						<li>
							<div class="favicon hidden-xs"><a href="">
								<f:cObject typoscriptObjectPath="lib.favicon"/>
							</a>
							</div>
						</li>
						<f:cObject typoscriptObjectPath="lib.main_menu"/>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="content">
	<div class="row row-pattern">
		<div class="container">
			<div class="col-sm-12 text-center">
				<f:cObject typoscriptObjectPath="lib.page_header"/>
			</div>
			<f:render section="content"/>
		</div>
	</div>

</div>
<footer>
	<div class="container">
		<f:cObject typoscriptObjectPath="lib.footer_menu"/>
		<ul class="nav nav-pills pull-right">
			<li><a class="scroll-top" href="#" title="Scroll to top"><i class="fa fa-angle-double-up fa-2x"></i></a>
			</li>
		</ul>
	</div>
</footer>